/************************HOME PAGE*******************************************/
#Header-container{
    height: 400px;
    background-image: url('img/HomepageImage2.jpg');
}

footer {
    border: 1px solid #003366;
    background: #003366;
    color: #cccccc;
    padding: 10px;
}

#siteMap{
    float: right;
    color: #cccccc;
    padding-right: 10px;
}

/*navigation*/
.navigation {
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
}
.navigation li {
    height: 100px;
    list-style: none;
    display: inline;
    background: #003366;
    margin: 10px;
}
.navigation li a {
    color: #cccccc;
    text-decoration: none;
    display: inline-block;
}
.navigation li:hover {
    background-color:#FFCC00;
}

#Homeicone {
    height: 40px;
}
/*
Home Content 
================================= */
#WelcomeMsg{
    overflow: hidden;
    border: 1px solid black;
    height: 60px;
}
.fourColumn {
    overflow: auto;
    padding: 10px;
}
.fourColumn h4{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.fourColumn h5
{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
}
.fourColumn p{
    color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0px;
}
.fourColumn img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    
}
.fourColumn a{
    color: black;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
    text-decoration: none;
}
.fourColumn a h4:hover{
    color:#FFCC00;
}

.Column {
    margin-left: 20px;
    float: left;
    background-repeat: no-repeat;
    width: 23%;
}
.content{
    background-color: #999999;
}
/**************************************************************************/       

