/************************HOME PAGE*******************************************/
body{
    margin-top: 0;
    margin-bottom: 0;
}
#Header-container{
    height: 350px;
    background-image: url('img/HomepageImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    border: 1px solid #003366;
    background: #003366;
    color: #cccccc;
    padding: 10px;
}

#siteMap{
    float: right;
    color: #cccccc;
    padding-right: 10px;
}

/*navigation*/
.navigation {
    margin: 0;
    padding: 0;
    height: 1em;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    display: inline-block;
    text-align: justify;
    margin-left: 280px;
    margin-top: 310px;
}
.navigation li {
    height: 25px;
    border: 1px solid #cccccc;
    list-style: none;
    background: #003366;
    float: left;
    padding: 10px 40px 3px 40px;
}

.navigation li a {
    color: #cccccc;
    text-decoration: none;
}
.navigation li a:hover {
    color: #FFCC00;
}
#Current {
    background: #FFCC00;
    color: #003366;
}
#Current a{
    color: #003366;
}
#Homeicone {
    width:5px;
    height: 5px;
    background-image: url('img/newhome3.png');
}
/*
Home Content 
================================= */
#WelcomeMsg{
    overflow: hidden;
    border: 1px solid black;
    height: 60px;
}
.fourColumn {
    overflow: auto;
    padding: 10px;
}
.fourColumn h4{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.fourColumn h5
{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
}
.fourColumn p{
    color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0px;
}
.fourColumn img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    
}
.fourColumn a{
    color: black;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
    text-decoration: none;
}
.fourColumn a h4:hover{
    color:#FFCC00;
}

.Column {
    margin-left: 20px;
    float: left;
    background-repeat: no-repeat;
    width: 23%;
}

/**************************************************************************/  
.sub_navigation {
    margin: 0;
    padding: 0;
    height: 1em;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    text-align: justify;
    margin-left: 0px;
    margin-top: 0px;
    display: inline;
}
.sub_navigation li {
    height: 25px;
    border: 1px solid #cccccc;
    list-style: none;
    float: left;
    padding: 10px 40px 3px 40px;
    width:13.51%;
    text-align: center;
    background-color: #999999;
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.sub_navigation li a {
    color: #cccccc;
    text-decoration: none;
}
.sub_navigation li a:hover {
    color: #FFCC00;
}

.suv_nav{
    display: block;
}
.sub_nav h2{
    border: 1px solid;
    background-color: #003366;
    color: white; 
}
.sub_nav a img{
    border: 1px solid;
    background-color: #003366;
    color: white; 
}